body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
#nav-header {
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
a {
    padding: 10px;
    margin: 0px 75px 0px 10px; 
    border-radius: 15%;
}
a:link {
    text-decoration: none;
    color: hsl(195, 53%, 79%);
}
a:visited {
    text-decoration: none;
    color: hsl(195, 53%, 79%);
}
a:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
}
a:active {
    text-decoration: none;
    color:hsl(195, 53%, 79%);
}
#bottom-header {
    background-color: hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
}
h1 {
    letter-spacing: 15px;
    padding-left: 75px;
}

main{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 90%;
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    text-align: left;
    border-radius: 15px;
    padding: 20px;
    margin-right: 100px;
}
h2{
    font-size: 5rem;
    text-align: right;
    align-self: last center;
    margin-left: 300px;
    letter-spacing: 25px;
}
#me {
    max-height: 300px;
    width: auto;
    
}
footer{
    background-color: hsl(0, 0%, 0%);
    text-align: center;
    height: 100px;
}