
* {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
main {
    height: 32rem;
}
#nav-header {
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
a {
    padding: 10px;
    margin: 0px 75px 0px 10px; 
    border-radius: 15%;
}
a:link {
    text-decoration: none;
    color: hsl(195, 53%, 79%);
}
a:visited {
    text-decoration: none;
    color: hsl(195, 53%, 79%);
}
a:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
}
a:active {
    text-decoration: none;
    color:hsl(195, 53%, 79%);
}
#bottom-header {
    background-color: hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
}
h1 {
    letter-spacing: 15px;
    padding-left: 75px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50%;
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin-right: 100px;
}
#heading {
    font-size: 5rem;
    align-self: last center;
    letter-spacing: 25px;
}
#me {
    max-height: 300px;
    width: auto;
    
}

 #icon {
    height: 40px;
    padding-top: 15px;
 }

 #skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 1.6rem;
}
#heading-two {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 20px;
}
#skills p {
    text-align: center;
}
#projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
}
.project-list {
    width: 40%;
    padding: 25px;
}
#project-right {
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
footer{
    background-color: hsl(0, 0%, 0%);
    text-align: center;
    height: 100px;
}
#bottom-nav {
    padding-top: 35px;
}
.contact {
    background-color: hsl(0, 0%, 30%);
    text-align: center;
    border-radius: 50%;
    padding: 30px 40px 30px 40px;
}
#contact-sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
}
#contact-icon{
    height: 50px;
}
#contact-topper {
    text-align: center;
}
#contact-topper h2 {
    letter-spacing: 25px;
    font-size: 3rem;
}